/* Import Google Font 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* Warna dasar body */
}

/* Efek transisi halus untuk hover */
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.1) !important;
  transition: all 0.3s ease;
}

.btn {
  transition: all 0.3s ease;
}